*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	user-select: none;
}

:root{
	--background-gradient: linear-gradient(to top  left, #fb6f92, #ff8fab);
	--background-color: #fb6f92;

	--text-color: #ffe5ec;

	--background-glass: #00000050;
	--text-color-glass: #ffc2d1;
}

body{
	background-color: var(--background-color);
	background-image: var(--background-gradient);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	color: var(--text-color);
}

.base{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.form {
	display: flex;
	flex-direction: column;
	background-color: var(--background-glass);
	backdrop-filter: blur(100px);
	align-self: center;
}