*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	user-select: none;
}

:root{
	--background-gradiend: linear-gradient(to bottom right, #9d4edd, #10002b)
}

body{

}