<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login/Registration</title>
		<link rel="stylesheet" href="/static/a.css">
	</head>
	<body>
		<div class="base">
			<form class="form" onsubmit="login()">
				<h1>Login Panel</h1>
				<div class="input">
					<label for="user">Username: </label>
					<input type="text" id="user">
				</div>
				<div id="register"></div>
				<div class="input">
					<label for="pass">Password: </label>
					<input type="text" id="pass">
				</div>
				<input class="input" type="submit" value="Login" id="submit">
			</form>
		</div>
	</body>
	<script>
		let is_login = true
		function login(){
			if(is_login){
				const user = document.getElementById("user")
				const pass = document.getElementById("pass")
				const data = {
					"user": user.value,
					"pass": pass.value
				}
				fetch("/api/login", {
					"method": "POST",
					"body": JSON.stringify(data)
				})
			}else{
				const user = document.getElementById("user")
				const pass = document.getElementById("pass")
				const data = {
					"user": user.value,
					"pass": pass.value
				}
				fetch("/register", {
					"method": "POST",
					"body": JSON.stringify(data)
				})

			}
		}
		fetch("/creds-logged").then(r => {
			return r.json()
		}).then((r) => {
			if(r.status){
				location.href = "/user"
			}else{
				let usn = document.getElementById("username")
				fetch("/api/check-user", {
					"user": usn.value
				}).then((r) => {
					return r.json()
				}).then((r) => {
					if(r.status){
						console.log("Basta ok to")
					}
				})
			}
		})
	</script>
</html>